/_template/
/.idea/
/.tox/
/build/
/dist/
/nodeeditor.egg-info/
__pycache__
/debug/__pycache__
/node_editor/__pycache__
/code_samples/graphics/__pycache__
debug
/docs/build/doctrees/rst/node_editor/node_content_widget.doctree
/docs/build/doctrees/rst/node_editor/node_edge.doctree
/docs/build/doctrees/rst/node_editor/node_editor_widget.doctree
/docs/build/doctrees/rst/node_editor/node_editor_window.doctree
/docs/build/doctrees/rst/node_editor/node_graphics_cutline.doctree
/docs/build/doctrees/rst/node_editor/node_graphics_edge.doctree
/docs/build/doctrees/rst/node_editor/node_graphics_node.doctree
/docs/build/doctrees/rst/node_editor/node_graphics_scene.doctree
/docs/build/doctrees/rst/node_editor/node_graphics_socket.doctree
/docs/build/doctrees/rst/node_editor/node_graphics_view.doctree
/docs/build/doctrees/rst/node_editor/node_node.doctree
/docs/build/doctrees/rst/node_editor/node_scene.doctree
/docs/build/doctrees/rst/node_editor/node_scene_clipboard.doctree
/docs/build/doctrees/rst/node_editor/node_scene_history.doctree
/docs/build/doctrees/rst/node_editor/node_serializable.doctree
/docs/build/doctrees/rst/node_editor/node_socket.doctree
/docs/build/doctrees/rst/node_editor/utils.doctree
/docs/build/html/_sources/rst/node_editor/node_content_widget.rst.txt
/docs/build/html/_sources/rst/node_editor/node_edge.rst.txt
/docs/build/html/_sources/rst/node_editor/node_editor_widget.rst.txt
/docs/build/html/_sources/rst/node_editor/node_editor_window.rst.txt
/docs/build/html/_sources/rst/node_editor/node_graphics_cutline.rst.txt
/docs/build/html/_sources/rst/node_editor/node_graphics_edge.rst.txt
/docs/build/html/_sources/rst/node_editor/node_graphics_node.rst.txt
/docs/build/html/_sources/rst/node_editor/node_graphics_scene.rst.txt
/docs/build/html/_sources/rst/node_editor/node_graphics_socket.rst.txt
/docs/build/html/_sources/rst/node_editor/node_graphics_view.rst.txt
/docs/build/html/_sources/rst/node_editor/node_node.rst.txt
/docs/build/html/_sources/rst/node_editor/node_scene.rst.txt
/docs/build/html/_sources/rst/node_editor/node_scene_clipboard.rst.txt
/docs/build/html/_sources/rst/node_editor/node_scene_history.rst.txt
/docs/build/html/_sources/rst/node_editor/node_serializable.rst.txt
/docs/build/html/_sources/rst/node_editor/node_socket.rst.txt
/docs/build/html/_sources/rst/node_editor/utils.rst.txt
/docs/build/html/rst/node_editor/node_content_widget.html
/docs/build/html/rst/node_editor/node_edge.html
/docs/build/html/rst/node_editor/node_editor_widget.html
/docs/build/html/rst/node_editor/node_editor_window.html
/docs/build/html/rst/node_editor/node_graphics_cutline.html
/docs/build/html/rst/node_editor/node_graphics_edge.html
/docs/build/html/rst/node_editor/node_graphics_node.html
/docs/build/html/rst/node_editor/node_graphics_scene.html
/docs/build/html/rst/node_editor/node_graphics_socket.html
/docs/build/html/rst/node_editor/node_graphics_view.html
/docs/build/html/rst/node_editor/node_node.html
/docs/build/html/rst/node_editor/node_scene.html
/docs/build/html/rst/node_editor/node_scene_clipboard.html
/docs/build/html/rst/node_editor/node_scene_history.html
/docs/build/html/rst/node_editor/node_serializable.html
/docs/build/html/rst/node_editor/node_socket.html
/docs/build/html/rst/node_editor/utils.html
